/* html,body{
    padding:0;
    margin:0;

} */
.edit{
    /* float:right; */
    margin-left: 20px;
}
.top-header{
    /* margin: 15px 15px; */
    padding: 15px 15px;
    font-family: arial;
    font-style:bold;
    color:white;
    font-size:30px;

}
.dashboard-wrapper{
    background-image: linear-gradient(to right ,rgb(7, 58, 105),rgb(65, 126, 184));
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;

    padding: 25px 0px;

}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}


.list{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color:rgb(13, 64, 105);
    margin:10px 10px;
    border-top: solid white 14px;

}

.chart-wrapper{
    background-color:rgb(22, 22, 122);
    color:white;
    padding:10px;
}
