{/*Style the pictures*/}
.piggy{
    border-radius: 100%;
    height:250px;
    width:250px;
    /*margin: 0px auto;*/
    margin-bottom: 100px;
}

.piggybank, .your_expenses, .ben100{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}

.bg-img {
    /* The image used */
    background-image: url("../images/header.jpg");

    min-height: 500px;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
    opacity:1;
}

.body-container{
    margin: 30px;
    text-align:center;

}

.body-wrapper{
    margin:70px 100px;
}

.statement{
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 48px;
    line-height: 64px;
    background-color: rgb(66, 64, 64);
    border-left:60px solid #0a960a;
    border-right:60px solid #0a960a;
    color:rgb(255, 255, 255);
}

.intro{
  background-color: beige;
  padding-top: 65px;
  padding-bottom: 65px;
}

.divider{
  width: 1000px;
  margin-top: 50px;
  margin: auto;
}

{/*Style the cards*/}
.card{
     width: 275px;
     display: inline-block;
     box-shadow: 0 4px 8px 0 black;
     border-radius: 5px;
     margin-left: 25px;
     margin-right: 25px;
     background: #33FFCC;
     transition: 0.4s;
     text-align: center;
}

{/*Put effects on the cards*/}
.card:hover{
    box-shadow: 0 8px 16px 0 black;
 }

.contain{
   padding: 2px 16px;
 }

 .title1, .title2, .title3{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.titlename1, .titlename2, .titlename3{
  font-size: 20px;
  font-weight: bold;
  background-color: #FFFFCC;
 }

.des1, .des2, .des3{
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
