{/*Function below will be use to style the picture*/}
.piggy{
    border-radius: 100%;
    height:250px;
    width:250px;
    /*margin: 0px auto;*/
    margin-bottom: 100px;
}

.bg-img {
    /* The image used */
    background-image: url("../images/header.jpg");

    min-height: 500px;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
    opacity:1;
}

.body-container{
    margin: 30px;
    text-align:center;

}

.body-wrapper{
    margin:70px 100px;
}

.statement{
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 48px;
    line-height: 64px;
    background-color: rgb(66, 64, 64);
    border-left:60px solid #0a960a;
    border-right:60px solid #0a960a;
    color:rgb(255, 255, 255);
}

.cards{
    margin: 0px 20px;
    display:inline-block;
}

.intro{
  background-color: beige;
  padding-top: 65px;
  padding-bottom: 65px;
}

.divider{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 50px;
}

{/*The functions used below will style the cards*/}
.card1, .card2{
  background-color: lightgray;
  padding-bottom: 30px;
}

.card3{
  background-color: lightgray;
  padding-bottom: 5px;
}

.card1h, .card2h, .card3h{
  background-color: white;
}
