.money{
    border-radius: 100%;
    height:200px;
    width:200px;
    /*margin: 0px auto;*/
    margin-left: auto;
    margin-right:auto;
}

.body-container{
    margin: 30px;
    text-align:center;
}

.body-wrapper{
    margin:70px 100px;
}

.statement{
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 950px;
    line-height: 64px;
    color: Black;
    font-weight: bold;
    background-color: white;
    border-left:60px solid #66ff66;
    border-right:60px solid #66ff66;
}

.state{
	font-family: times new roman;
	font-size: 14px;
}

.bg-img {
    /* The image used */
    background-image: url("../images/header.jpg");

    min-height: 500px;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Position the navbar */
    position: relative;
    opacity:1;
}

.cards{
    margin: 0px 20px;
    display:inline-block;
}

#div1 {
	background-image: url("../images/cash.jpg");
}

.text{
  font-weight: bold;
  font-family: Arial, Helvetica,sans-serif;
  position: absolute;
  font-size: 750px;
  border-left:60px solid beige;
  border-right:60px solid beige;
}
